InternetKillSwitchApplication/Service References/KillSwitch/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/InternetKillSwitchService.Data" />
  <xs:element name="NetworkChangeOnNetworkAvailabilityChanged">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NetworkChangeOnNetworkAvailabilityChangedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimplifiedNetworkAdapters">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimplifiedNetworkAdaptersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InternetKillSwitchService.Data" minOccurs="0" name="GetSimplifiedNetworkAdaptersResult" nillable="true" type="q1:ArrayOfNetworkAdapterCustom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableNetworkAdapter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/InternetKillSwitchService.Data" minOccurs="0" name="o" nillable="true" type="q2:NetworkAdapterCustom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableNetworkAdapterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisableNetworkAdapterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableNetworkAdapter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/InternetKillSwitchService.Data" minOccurs="0" name="o" nillable="true" type="q3:NetworkAdapterCustom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableNetworkAdapterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnableNetworkAdapterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIpAddress">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIpAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIpAddressResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableAllLocal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableAllLocalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableAllVpn">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableAllVpnResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableAllLocal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableAllLocalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableAllVpn">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableAllVpnResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVpnAdapters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/InternetKillSwitchService.Data" minOccurs="0" name="adapters" nillable="true" type="q4:ArrayOfNetworkAdapterCustom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVpnAdaptersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLocalAdapters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/InternetKillSwitchService.Data" minOccurs="0" name="adapters" nillable="true" type="q5:ArrayOfNetworkAdapterCustom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLocalAdaptersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveVpnAdapters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/InternetKillSwitchService.Data" minOccurs="0" name="adapters" nillable="true" type="q6:ArrayOfNetworkAdapterCustom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveVpnAdaptersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveLocalAdapters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/InternetKillSwitchService.Data" minOccurs="0" name="adapters" nillable="true" type="q7:ArrayOfNetworkAdapterCustom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveLocalAdaptersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>